body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-top: 0;
}

#login-section {
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

#login-section input[type="text"],
#login-section input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

#login-section {
  display: flex;
  flex-direction: column;
}

#button-container {
  display: flex;
  margin-top: 10px;
}

#login-section button {
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
}

#login-section button.login {
  background-color: #53964a;
}

#login-section button.login:hover {
  background-color: #555;
}

#login-section button.logout {
  background-color: #e74c3c;
}

#login-section button.logout:hover {
  background-color: #c0392b;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin: 10px 0 5px;
}

form input[type="text"],
form input[type="number"] {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 5px 0 10px;
  padding: 10px;
  width: 100%;
}

form button {
  background-color: #333333;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
}

form button:hover {
  background-color: #555;
}

#games-list {
  list-style: none;
  padding: 0;
}

#games-list li {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
}

#games-list li button {
  background-color: #e0d5d4;
  border: none;
  border-radius: 4px;
  color: rgb(10, 2, 2);
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 10px;
}

#games-list li button:hover {
  background-color: #e08277;
  color: #fff;
}

/* Media Queries */
@media (max-width: 800px) {
  header,
  footer {
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  #login-section {
    max-width: 90%;
  }

  section {
    padding: 15px;
  }
}

@media (max-width: 400px) {
  h2 {
    font-size: 18px;
  }

  #login-section button {
    font-size: 14px;
    padding: 8px;
  }

  #login-section input[type="text"],
  #login-section input[type="password"] {
    font-size: 14px;
    padding: 8px;
  }

  #games-list li {
    flex-direction: column;
    align-items: flex-start;
  }

  #games-list li button {
    width: 100%;
    margin-top: 5px;
  }
}
